.first-div img{
	margin-left: 2%;
	margin-top: 2%;
}

.first-div a{
	text-decoration: none;
}
.first-div .flink{
	color: black;
	margin-top: -6%;
	margin-left: 8%;
	text-u

}

.first-div h3{
	margin-top: -5%;
	margin-left: 2%;
}

.first-div .sp{
	margin-top: -6.2%;
	margin-left: 9%;
}